	/* 商品列表样式 */
	.product_list_wrap .product_list{
    		padding:3.125%;
	}
	.product_list_wrap .product_list .product_item{
	    position: relative;
	    margin: 10px 0 0;
	    height: 130px;
	    background-color: #fff;
	}
	.product_list_wrap .product_list .product_item:nth-child(1){
	    margin:0;
	}
	.product_list_wrap .product_list .product_item .item_image_wrap{
	    position: absolute;
	    left: 5px;
	    top: 5px;
	    width: 120px;
	    height: 120px;
	    background-color: #FFFFFF;
	}
	.product_list_wrap .product_list .product_item .item_image_content{
	   position:relative;
	   width:100%;
	   height:100%;
	}
	.product_list_wrap .product_list .product_item .item_image{
	    width:100%;
	    height:100%;
	}
	.product_list_wrap .product_list .product_item .item_text_wrap{
	   position: relative;
	   height: 106px;
	   padding: 12px 10px 12px 135px;
	}
	.product_list_wrap .product_list .product_item .item_text_wrap .product_name{
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    word-break: break-all;
	    -webkit-line-clamp: 2;
	    overflow: hidden;
	    line-height:18px;
	}
	.product_list_wrap .product_list .product_item .item_text_wrap .product_price{
	    position: absolute;
	    bottom:16px;
	}
	.product_list_wrap .product_list .product_item .product_button{
	    position:absolute;
	    right:4px;
	    bottom:8px;
	    color: #fff;
	    text-align: center;
	    padding:3px 6px;
	    border-radius: 2px;
	    border: 1px solid #249df3;
	    background-color: #249df3;
	}
	/* 瀑布流样式 */
	.product_stream_wrap .product_list{
		padding:6px 0;
	}
	.product_stream_wrap .product_list .product_item_box{
		width:50%;
		float:left;
	}
	.product_stream_wrap .product_list .product_item{	    
	    background-color:#fff;
	    position:relative;
	    margin:6px;
	}
	.product_stream_wrap .product_list .product_item_box:nth-child(2n) .product_item{
		margin:6px 12px 6px 6px;
	}
	.product_stream_wrap .product_list .product_item_box:nth-child(2n+1) .product_item{
		margin:6px 6px 6px 12px;
	}
	.product_stream_wrap .product_list .product_item .item_image_wrap{
	  position:relative;
	  margin:5px;
	}
	.product_stream_wrap .product_list .product_item .item_image{
	    width:100%;
	}
	.product_stream_wrap .product_list .product_item .item_text_wrap{
	  position:relative;
	  padding:8px 4px 12px;
	}
	.product_stream_wrap .product_list .product_item .item_text_wrap .product_name{
	  margin: 0 0 10px;
	  height:27px;
	  line-height: 13px;
	  display: -webkit-box;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 2;
	  overflow: hidden;
	}
	.product_stream_wrap .product_list .product_item .item_text_wrap .product_price{}
	.product_stream_wrap .product_list .product_item .product_button{
	    position:absolute;
	    right:4px;
	    bottom:8px;
	    color: #fff;
	    text-align: center;
	    padding:3px 6px;
	    border-radius: 2px;
	    border: 1px solid #249df3;
	    background-color: #249df3;
	}
	/* 商品网格样式 */
	.product_gridding_wrap .product_list{
	   padding:6px 0;
	}
	.product_gridding_wrap .product_list .product_item_box{
		width:50%;
		float:left;
	}
	.product_gridding_wrap .product_list .product_item{
	    background-color:#fff;
	    position:relative;
	    margin:6px;
	}
	.product_gridding_wrap .product_list .product_item_box:nth-child(2n) .product_item{
		margin:6px 12px 6px 6px;
	}
	.product_gridding_wrap .product_list .product_item_box:nth-child(2n+1) .product_item{
		margin:6px 6px 6px 12px;
	}
	.product_gridding_wrap .product_list .product_item .item_image_out{
	    margin:5px;
	}
	.product_gridding_wrap .product_list .product_item .item_image_wrap{
	    position:relative;
	    width:100%;
	    padding-bottom:68.88%;
	}
	.product_gridding_wrap .product_list .product_item .item_image{
	    width:100%;
	    height:100%;
	    position: absolute;
	}
	.product_gridding_wrap .product_list .product_item .item_text_wrap{
	    position:relative;
	    padding:8px 4px 12px;
	}
	.product_gridding_wrap .product_list .product_item .item_text_wrap .product_name{
	    margin: 0 0 10px;
	    height: 27px;
	    line-height: 13px;
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 2;
	    overflow: hidden;
	}
	.product_gridding_wrap .product_list .product_item .item_text_wrap .product_price{}
	/* 商品大图样式 */
	.product_bigImg_wrap{
	  width: 100%;
	}
	.product_bigImg_wrap .product_list{
	    width: 100%;
	}
	.product_bigImg_wrap .product_list .product_item{
	    width:100%;
	    margin-bottom:3.225%;
	    background-color:#fff;
	    position:relative;
	}
	.product_bigImg_wrap .product_list .product_item .item_image_out{
	    margin:5px;
	}
	.product_bigImg_wrap .product_list .product_item .item_image_wrap{
	    position:relative;
	    width:100%;
	    padding-bottom:64.88%;
	    overflow: hidden;
	}
	.product_bigImg_wrap .product_list .product_item .item_image_wrap .item_image_content{
	  	position: absolute;
	  	left:0;
	  	right:0;
	  	bottom:0;
	  	top:0;
	}
	.product_bigImg_wrap .product_list .product_item .item_image{
	    width:100%;
	    height:100%;
	}
	.product_bigImg_wrap .product_list .product_item .item_text_wrap{
	    position:relative;
	    padding:8px 4px 13px;
	}
	.product_bigImg_wrap .product_list .product_item .item_text_wrap .product_name{
	    margin: 0 0 10px;
	    height: 20px;
	    line-height: 22px;
	    width: 95%;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	.product_bigImg_wrap .product_list .product_item .item_text_wrap .product_price{}
	.product_bigImg_wrap .product_list .product_item .product_button{
	    position:absolute;
	    right:4px;
	    bottom:8px;
	    color: #fff;
	    text-align: center;
	    padding:3px 6px;
	    border-radius: 2px;
	    border: 1px solid #249df3;
	    background-color: #249df3;
	}
	.product_stream_wrap .commissionPrice,.product_list_wrap .commissionPrice,.product_gridding_wrap  .commissionPrice{
	 	position:absolute;
		left:0;
		bottom:10px;
		background-color:#ff7466;
		font-size:12px;
		color:#fff;
		padding:3px 12px;
		border-radius:0 18px 18px 0;
	 }